In [1]:
#Q1. Create one variable containing following type of data:
#(i) string
#(ii) list
#(iii) float
#(iv) tuple

#Answer to Q1.
a="Deepjyoti" #string
b=[1,2,3,6+5j,"Deepjyoti","Debnath"] #list
c=45.875 #float
d=(4,47,"jupiter","new",7.987)#tuple

In [25]:
#Q2. Given are some following variables containing data:
#(i) var1 = ‘ ‘
#(ii) var2 = ‘[ DS , ML , Python]’
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv) var4 = 1.
#What will be the data type of the above given variable.

#Answer to Q2.
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [27]:
#Q3. Explain the use of the following operators using an example:
#(i) /
#(ii) %
#(iii) //
#(iv) **

In [28]:
#Answer to Q3.
#(i) / 
#  This operator is used to find the quotient 
5/2

2.5

In [29]:
#Answer to Q3.
#(ii) %
#  This operator is used to find the remainder
5%2

1

In [30]:
#Answer to Q3.
#(iii) // 
#  This operator is used to find the quotient and convert float data type into integer data type
5//2

2

In [31]:
#Answer to Q3.
#(iv) **
#  This operator is used to find the power of any number
5**2 #we know that square of 5 is 25

25

In [19]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.

#Answer to Q4.
l=[3,4,65.54,"Deepjyoti",7+9j,True,5+7j,False,7875.77,"Deb"]
for i in l:
    print(i)
    print(type(i))

3
<class 'int'>
4
<class 'int'>
65.54
<class 'float'>
Deepjyoti
<class 'str'>
(7+9j)
<class 'complex'>
True
<class 'bool'>
(5+7j)
<class 'complex'>
False
<class 'bool'>
7875.77
<class 'float'>
Deb
<class 'str'>

In [10]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.

#Answer to Q5.
print("Enter 1st number A")
a=int(input())
print("Enter 2nd number B")
b=int(input())
while a%b==0: #to check a is divisible by b or not
    print(a," is purely divisible by ",b)
    break
else:
    print(a," is not divisible by ",b)
count=0 #to count how many times it is divisible
i=1
while i<=b:
    if a%i==0:
        count+=1
        i=i+1
    else:
        i=i+1
print(a," can be divisible ",count,"times from 1 to ",b)

Enter 1st number A

 88

Enter 2nd number B

 22

88  is purely divisible by  22
88  can be divisible  6 times from 1 to  22

In [15]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.

#Answer to Q6.
li=[23,42,33,36,13,34346,5464,5,5465,9,909,88,987,988,77,78,789,98,46,65,66,53,42,235,55]
for i in li:
    if i%3==0:
        print(i," is divisible by 3")
    else:
        print(i," is not divisible by 3")

23  is not divisible by 3
42  is divisible by 3
33  is divisible by 3
36  is divisible by 3
13  is not divisible by 3
34346  is not divisible by 3
5464  is not divisible by 3
5  is not divisible by 3
5465  is not divisible by 3
9  is divisible by 3
909  is divisible by 3
88  is not divisible by 3
987  is divisible by 3
988  is not divisible by 3
77  is not divisible by 3
78  is divisible by 3
789  is divisible by 3
98  is not divisible by 3
46  is not divisible by 3
65  is not divisible by 3
66  is divisible by 3
53  is not divisible by 3
42  is divisible by 3
235  is not divisible by 3
55  is not divisible by 3

In [18]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#this property.

In [20]:
#Answer to Q7.
# Mutable data types are those data types which have indexing i.e foreward indexing or backward indexing.
# We can modify mutable data type using there index number.
# Example of Mutable data type is list.
la=[32342,543635,54676.656,True]
la[1]="new"
la

[32342, 'new', 54676.656, True]

In [22]:
# Immutable data types are those data types where indexing is not done.
# We cannot modify immutable data type as they does not have index number.
# Example of immutable data type is string
st="Deepjyoti"
st

'Deepjyoti'